.animeDetails {
  width: 100vw;
  height: 100vh;
  background-color: var(--main-color);
  overflow: hidden;

  .infoText{
    align-items: center;
    text-align: center;
  }

  .back {
    display: flex;
    align-items: center;
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    cursor: pointer;
    z-index: 2;
  }
}
