@import "../../app.scss";


.navbar {
  width: 100%;
  color: white;
  font-size: 14px;
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: #21363f;
}

.container {
  padding: 0px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;

.leftNav{
    display: flex;
    align-items: center;

    img {
      height: 100px;
      margin-right: 60px;
    }
    span {
        align-items: center;
        margin-right: 50px;
        cursor: pointer;

         @include tablet {
          display: none;
        }
      }
  }
  .rightNav{
    display: flex;
    align-items: center;
  }
   .icon {
        margin: 0px 15px;
        cursor: pointer;
}
    .profile{
        .options{
            display: none;
            background-color: var(--main-color);
            border-radius: 5px;
        
        }
        span {
          padding: 10px;
          cursor: pointer;
        }
        &:hover{
            .options{
                display:flex;
                flex-direction: column;
                position: absolute;
            }
        }
    }
}

