.register {
  width: 100vw;
  height: 100vh;
  background: #21363f;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("https://imgur.com/WUVI7bA.png");
  background-size: contain;
  position: relative;

  .top {
    .wrapper {
      padding: 20px 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    

      .logo {
        align-items: center;
        height: 100px;
      }

      .loginButton {
        background-color: goldenrod;
        border: none;
        color: white;
        border-radius: 5px;
        padding: 10px;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }
}

.container2 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;

  h1 {
    margin: 20px;
    text-align: center;
  }
  
  .input {
    width: 27%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
    height: 45px;
    border-radius: 5px;
    
    input {
        flex: 75%;
        height: 100%;
        border: none;
        padding: 0 5px;
    }

    .registerButton{
        flex: 25%;
        height: 100%;
        background-color: #21363f;
        border: none;
        color: white;
        cursor: pointer;
    }


  }
}
